

.statistics-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.top-statistics:hover{
    
   color:rgb(15, 137, 207);
}
.text-statistics:hover{   
    
    color:rgb(15, 137, 207);
}

.statistics-content h3{
    font-weight: bold;
    margin-bottom: 25px;
}
.statistics-content p{
    font-family:Arial, Helvetica, sans-serif;
    width: 200px;
    margin-left: 50px;
}
.statistics-content h3:hover{
   color: rgb(15, 137, 207);
}
.icon{
    color:rgb(15, 137, 207);
    font-size: 40px;

}
.images:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0,0,0, 0.2);
    transform: scale(1.05);
    background-color:rgb(209, 226, 241);
 
    
 }